# VS Code genel ayarları
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# VS Code uzantılarına özgü dosyalar
.history/*
.ionide/*
*.suo
*.user
*.sln.docstates
*.userprefs

# Diğer geçici VS Code dosyaları
**/.DS_Store